*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 166, 0, 0.753);
}
header{
    background-color: rgb(3, 87, 31);
    color: white;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
    position: relative;
}
header div#agroparana{
    background-image: url(../imagens/1.png);
    position: absolute;
    width: 100px;
    height: 100px;
    background-size: contain;
    border-radius: 50%;
}
header nav{
    margin-top: 20px;
    padding-bottom: 20px;
}
header nav a{
    color: white;
    text-decoration: none;
    margin-inline: 10px;
    padding: 10px;
    text-transform: uppercase;
}
header nav a:hover{
    border: 1px solid white;
    border-radius: 30px;
    transition-duration: 1s;
}
main{
    max-width: 800px;
    margin: auto;
    text-align: justify;
    padding: 30px;
}
main h1{
    font-size: 2em;
}
main .produtos{
    background-color: #fff;
    box-shadow: 0px 10px 10px black;
}
main .produtos h1{
    border: 1px solid black;
    border-left: 4px solid black;
    border-radius: 0px 20px 20px 0px;
    width: max-content;
    padding-right: 50px;
    padding-left: 10px;
    margin-bottom: 20px;
}
main .produtos img{
    margin-top: 20px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px black
}
main #ferramentas{
    padding: 20px;
    margin-top: 10px;
    border-radius: 0px 30px 30px;
}
main #sementes{
    padding: 20px;
    margin-top: 10px;
    border-radius: 0px 30px 30px;
}
main #terras{
    padding: 20px;
    margin-top: 10px;
    border-radius: 0px 30px 30px;
}
main #adubos{
    padding: 20px;
    margin-top: 10px;
    border-radius: 0px 30px 30px;
}
.ver-mais{
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgba(118, 194, 18, 0.76);
    padding: 10px;
    font-size: 1.1em;
    font-weight: lighter;
    width: max-content;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
}
.ver-mais:hover{
    border-radius: 15px;
    transition-duration: .5s;
    padding-left: 500px;
    text-align: center;
    padding-right: 20px;
}
footer{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}
footer a{
    color: black;
    font-size: 2em;
    text-decoration: none;
}
footer a:hover{
    border: 1px solid black;
    padding: 20px;
    transition-duration: .3s;
    border-radius: 30px;
    background-color: rgb(7, 7, 214);
    color: white;
}